.foodBankCard {
    padding: 0 20px 5px 20px;
    margin: 20px;
    border: 1px solid limegreen;
    border-radius: 5px;
}

.foodbankName a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

h3 a:hover {
    color: limegreen;
}

.foodbankNeeds h5 {
font-size: 16px;
padding-right: 25px;
}

.foodbankNeeds li {
    list-style-type: none;
    width: 25em;
    font-size: 12px;
    padding-right: 10px;
}

.foodBankCard h5 {
    font-size: 16px;
}