.foodBankCard {
  padding: 0 20px 20px 20px;
  margin: 20px;
  border: 1px solid limegreen;
  border-radius: 5px;
}

.foodbankName a {
  color: #000;
}

.foodbankAddress {
  width: 20em;
  padding-left: 25px;
}


